@import '~normalize.css';
@import 'montserrat.css';
    /* browser-sync start --server --directory --files "*" */
.container{
    max-width: 1000px;
    font-size: large;
    margin: 20px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.title{
    color: yellow;
}
.logo{
    background-image: url('./../assets/logo.png');
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-size: cover;
}